In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv("/content/Placement Data Collection (Responses) - Form Responses 1.csv")
dataset

,Timestamp,GENDER,BRANCH,CGPA,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed,Annual CTC (in Lacks)
0,2/27/2023 21:08,Male,Computer Science and Data Processing,9,No,7,3,7,DATA SCIENTIST/ANALYST,Yes,No,No,NaN
1,2/27/2023 21:34,Female,Ece,8.68,No,7,5,8,CORE,Yes,No,Yes,more than 25
2,2/27/2023 21:36,Male,Mechanical engineering,8.34,No,7,5,7,"DATA SCIENTIST/ANALYST, CORE",Yes,Yes,No,NaN
3,2/27/2023 21:40,Male,Wireless communication and networks,8.79,No,5,4,6,CORE,No,No,Yes,15-Oct
4,2/27/2023 21:41,Male,Computer science engineering,7.58,No,9,9,10,"SDE, DATA SCIENTIST/ANALYST",Yes,No,Yes,15-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,3/4/2023 12:16,Male,Architecture and regional Planning,8.49,No,8,2,7,CORE,Yes,Yes,No,15-Oct
149,3/4/2023 12:18,Male,Chemical,7.86,No,10,7,8,MANAGEMENT,No,No,Yes,15-Oct
150,3/4/2023 12:19,Male,Civil,8.94,No,8,2,8,CORE,Yes,Yes,Yes,less than 10
151,3/4/2023 12:42,Male,Chemical Engineering,8.34,No,8,6,9,"DATA SCIENTIST/ANALYST, CORE",Yes,No,No,20-25
152,3/4/2023 12:50,Male,CSDP,8.65,No,6,6,8,SDE,No,No,Yes,15-Oct

In [ ]:
# dataset.info()

to delete the row we use axis = 0 and row number

In [ ]:
dataset.drop(49, axis = 0, inplace = True )

In [ ]:
dataset['CGPA'] = pd.to_numeric(dataset['CGPA'])

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 152
Data columns (total 13 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Timestamp                                             152 non-null    object
 1   GENDER                                                152 non-null    object
 2   BRANCH                                                152 non-null    object
 3   CGPA                                                  152 non-null    float64
 4   ACTIVE BACKLOG                                        152 non-null    object
 5   RATE YOUR COMMUNICATION SKILL                         152 non-null    int64
 6   RATE YOUR CODING SKILL                                152 non-null    int64
 7   RATE YOUR APTITUDE SKILLS                             152 non-null    int64
 8   APPLIED PROFILE                                       152 non-null    object
 9   Have you done project related to applied profile?     152 non-null    object
 10  Have you done Internship related to applied profile?  152 non-null    object
 11  Paced or Not Placed                                   152 non-null    object
 12  Annual CTC (in Lacks)                                 125 non-null    object
dtypes: float64(1), int64(3), object(9)
memory usage: 16.6+ KB

In [ ]:
# dataset.head(160)

In [ ]:
dataset1 = dataset.drop("Timestamp", axis = 1)

In [ ]:
# dataset["CGPA"].hist()

In [ ]:
dataset1

,GENDER,BRANCH,CGPA,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed,Annual CTC (in Lacks)
0,Male,Computer Science and Data Processing,9.00,No,7,3,7,DATA SCIENTIST/ANALYST,Yes,No,No,NaN
1,Female,Ece,8.68,No,7,5,8,CORE,Yes,No,Yes,more than 25
2,Male,Mechanical engineering,8.34,No,7,5,7,"DATA SCIENTIST/ANALYST, CORE",Yes,Yes,No,NaN
3,Male,Wireless communication and networks,8.79,No,5,4,6,CORE,No,No,Yes,15-Oct
4,Male,Computer science engineering,7.58,No,9,9,10,"SDE, DATA SCIENTIST/ANALYST",Yes,No,Yes,15-20
...,...,...,...,...,...,...,...,...,...,...,...,...
148,Male,Architecture and regional Planning,8.49,No,8,2,7,CORE,Yes,Yes,No,15-Oct
149,Male,Chemical,7.86,No,10,7,8,MANAGEMENT,No,No,Yes,15-Oct
150,Male,Civil,8.94,No,8,2,8,CORE,Yes,Yes,Yes,less than 10
151,Male,Chemical Engineering,8.34,No,8,6,9,"DATA SCIENTIST/ANALYST, CORE",Yes,No,No,20-25
152,Male,CSDP,8.65,No,6,6,8,SDE,No,No,Yes,15-Oct

In [ ]:
# dataset.drop("CGPA group", axis = 1, inplace = True)

In [ ]:
category = pd.cut(dataset1.CGPA, bins = [6,7,8,9,10],labels = ['7','8','9','10'])
dataset1.insert(3,'CGPA group',category)

In [ ]:
dataset1

,GENDER,BRANCH,CGPA,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed,Annual CTC (in Lacks)
0,Male,Computer Science and Data Processing,9.00,9,No,7,3,7,DATA SCIENTIST/ANALYST,Yes,No,No,NaN
1,Female,Ece,8.68,9,No,7,5,8,CORE,Yes,No,Yes,more than 25
2,Male,Mechanical engineering,8.34,9,No,7,5,7,"DATA SCIENTIST/ANALYST, CORE",Yes,Yes,No,NaN
3,Male,Wireless communication and networks,8.79,9,No,5,4,6,CORE,No,No,Yes,15-Oct
4,Male,Computer science engineering,7.58,8,No,9,9,10,"SDE, DATA SCIENTIST/ANALYST",Yes,No,Yes,15-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Male,Architecture and regional Planning,8.49,9,No,8,2,7,CORE,Yes,Yes,No,15-Oct
149,Male,Chemical,7.86,8,No,10,7,8,MANAGEMENT,No,No,Yes,15-Oct
150,Male,Civil,8.94,9,No,8,2,8,CORE,Yes,Yes,Yes,less than 10
151,Male,Chemical Engineering,8.34,9,No,8,6,9,"DATA SCIENTIST/ANALYST, CORE",Yes,No,No,20-25
152,Male,CSDP,8.65,9,No,6,6,8,SDE,No,No,Yes,15-Oct

In [ ]:
dataset1 = dataset1.drop("CGPA", axis = 1)

In [ ]:
dataset1

,GENDER,BRANCH,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed,Annual CTC (in Lacks)
0,Male,Computer Science and Data Processing,9,No,7,3,7,DATA SCIENTIST/ANALYST,Yes,No,No,NaN
1,Female,Ece,9,No,7,5,8,CORE,Yes,No,Yes,more than 25
2,Male,Mechanical engineering,9,No,7,5,7,"DATA SCIENTIST/ANALYST, CORE",Yes,Yes,No,NaN
3,Male,Wireless communication and networks,9,No,5,4,6,CORE,No,No,Yes,15-Oct
4,Male,Computer science engineering,8,No,9,9,10,"SDE, DATA SCIENTIST/ANALYST",Yes,No,Yes,15-20
...,...,...,...,...,...,...,...,...,...,...,...,...
148,Male,Architecture and regional Planning,9,No,8,2,7,CORE,Yes,Yes,No,15-Oct
149,Male,Chemical,8,No,10,7,8,MANAGEMENT,No,No,Yes,15-Oct
150,Male,Civil,9,No,8,2,8,CORE,Yes,Yes,Yes,less than 10
151,Male,Chemical Engineering,9,No,8,6,9,"DATA SCIENTIST/ANALYST, CORE",Yes,No,No,20-25
152,Male,CSDP,9,No,6,6,8,SDE,No,No,Yes,15-Oct

In [ ]:
dataset1['ACTIVE BACKLOG'] = dataset1['ACTIVE BACKLOG'].map({'Yes': 1, 'No': 0})
dataset1['Have you done project related to applied profile?'] = dataset1['Have you done project related to applied profile?'].map({'Yes': 1, 'No': 0})
dataset1['Have you done Internship related to applied profile?'] = dataset1['Have you done Internship related to applied profile?'].map({'Yes': 1, 'No': 0})
dataset1['Paced or Not Placed'] = dataset1['Paced or Not Placed'].map({'Yes': 1, 'No': 0})
dataset1['GENDER'] = dataset1['GENDER'].map({'Male': 1, 'Female': 0})

In [ ]:
dataset1

,GENDER,BRANCH,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed,Annual CTC (in Lacks)
0,1,Computer Science and Data Processing,9,0,7,3,7,DATA SCIENTIST/ANALYST,1,0,0,NaN
1,0,Ece,9,0,7,5,8,CORE,1,0,1,more than 25
2,1,Mechanical engineering,9,0,7,5,7,"DATA SCIENTIST/ANALYST, CORE",1,1,0,NaN
3,1,Wireless communication and networks,9,0,5,4,6,CORE,0,0,1,15-Oct
4,1,Computer science engineering,8,0,9,9,10,"SDE, DATA SCIENTIST/ANALYST",1,0,1,15-20
...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,Architecture and regional Planning,9,0,8,2,7,CORE,1,1,0,15-Oct
149,1,Chemical,8,0,10,7,8,MANAGEMENT,0,0,1,15-Oct
150,1,Civil,9,0,8,2,8,CORE,1,1,1,less than 10
151,1,Chemical Engineering,9,0,8,6,9,"DATA SCIENTIST/ANALYST, CORE",1,0,0,20-25
152,1,CSDP,9,0,6,6,8,SDE,0,0,1,15-Oct

In [ ]:
dataset.isnull().sum()

Timestamp                                                0
GENDER                                                   0
BRANCH                                                   0
CGPA                                                     0
ACTIVE BACKLOG                                           0
RATE YOUR COMMUNICATION SKILL                            0
RATE YOUR CODING SKILL                                   0
RATE YOUR APTITUDE SKILLS                                0
APPLIED PROFILE                                          0
Have you done project related to applied profile?        0
Have you done Internship related to applied profile?     0
Paced or Not Placed                                      0
Annual CTC (in Lacks)                                   27
dtype: int64

In [ ]:
dataset1 = dataset1.drop('BRANCH', axis = 1)

In [ ]:
dataset1

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed,Annual CTC (in Lacks)
0,1,9,0,7,3,7,DATA SCIENTIST/ANALYST,1,0,0,NaN
1,0,9,0,7,5,8,CORE,1,0,1,more than 25
2,1,9,0,7,5,7,"DATA SCIENTIST/ANALYST, CORE",1,1,0,NaN
3,1,9,0,5,4,6,CORE,0,0,1,15-Oct
4,1,8,0,9,9,10,"SDE, DATA SCIENTIST/ANALYST",1,0,1,15-20
...,...,...,...,...,...,...,...,...,...,...,...
148,1,9,0,8,2,7,CORE,1,1,0,15-Oct
149,1,8,0,10,7,8,MANAGEMENT,0,0,1,15-Oct
150,1,9,0,8,2,8,CORE,1,1,1,less than 10
151,1,9,0,8,6,9,"DATA SCIENTIST/ANALYST, CORE",1,0,0,20-25
152,1,9,0,6,6,8,SDE,0,0,1,15-Oct

In [ ]:
dataset1 = dataset1.drop('Annual CTC (in Lacks)', axis = 1)

In [ ]:
dataset1

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
0,1,9,0,7,3,7,DATA SCIENTIST/ANALYST,1,0,0
1,0,9,0,7,5,8,CORE,1,0,1
2,1,9,0,7,5,7,"DATA SCIENTIST/ANALYST, CORE",1,1,0
3,1,9,0,5,4,6,CORE,0,0,1
4,1,8,0,9,9,10,"SDE, DATA SCIENTIST/ANALYST",1,0,1
...,...,...,...,...,...,...,...,...,...,...
148,1,9,0,8,2,7,CORE,1,1,0
149,1,8,0,10,7,8,MANAGEMENT,0,0,1
150,1,9,0,8,2,8,CORE,1,1,1
151,1,9,0,8,6,9,"DATA SCIENTIST/ANALYST, CORE",1,0,0
152,1,9,0,6,6,8,SDE,0,0,1

In [ ]:
dataset2 =  dataset1[dataset1['APPLIED PROFILE'] == "CORE"]

In [ ]:
dataset2

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,APPLIED PROFILE,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
1,0,9,0,7,5,8,CORE,1,0,1
3,1,9,0,5,4,6,CORE,0,0,1
6,1,9,0,5,5,8,CORE,1,1,0
9,1,9,0,7,5,8,CORE,1,1,1
17,1,7,0,7,5,7,CORE,1,0,0
18,1,10,0,7,3,4,CORE,0,0,1
21,1,8,0,3,2,7,CORE,1,1,1
22,1,9,0,9,8,8,CORE,1,0,1
24,1,9,0,8,5,9,CORE,1,1,0
27,1,9,0,8,6,8,CORE,1,0,1
28,1,9,0,8,5,8,CORE,1,1,0
31,1,9,0,8,4,8,CORE,1,0,1
50,1,9,0,8,8,8,CORE,1,1,1
56,0,9,0,8,2,8,CORE,1,0,1
57,0,9,0,9,8,8,CORE,1,0,1
58,1,10,0,8,7,9,CORE,1,1,1
59,1,9,0,7,3,2,CORE,1,0,1
71,1,9,0,6,2,3,CORE,0,0,0
72,1,9,0,8,6,8,CORE,1,0,1
77,1,10,0,7,7,7,CORE,0,0,1
89,1,9,0,7,1,10,CORE,1,0,0
92,1,8,0,2,1,1,CORE,0,0,1
95,1,10,0,9,9,9,CORE,1,1,1
101,1,9,0,8,1,7,CORE,1,0,1
110,1,10,0,6,3,7,CORE,1,0,1
112,0,9,0,7,3,7,CORE,0,0,0
117,1,9,0,8,8,8,CORE,1,0,1
121,1,10,0,8,8,8,CORE,1,0,1
123,1,9,0,5,3,7,CORE,1,0,1
124,1,10,0,7,4,4,CORE,0,0,1
125,1,9,0,10,8,9,CORE,1,1,1
126,1,9,0,7,6,8,CORE,1,0,1
130,1,8,0,9,3,8,CORE,1,1,1
133,1,9,0,8,5,9,CORE,1,1,0
134,1,9,0,8,2,9,CORE,1,0,1
138,1,9,0,8,5,9,CORE,1,1,0
140,1,9,0,10,5,7,CORE,1,0,0
142,1,8,0,7,1,6,CORE,1,1,1
147,1,10,0,6,5,8,CORE,1,1,1
148,1,9,0,8,2,7,CORE,1,1,0
150,1,9,0,8,2,8,CORE,1,1,1

In [ ]:
dataset2.shape

(41, 10)

In [ ]:
dataset2 = dataset2.drop('APPLIED PROFILE', axis = 1)

In [ ]:
dataset2

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
1,0,9,0,7,5,8,1,0,1
3,1,9,0,5,4,6,0,0,1
6,1,9,0,5,5,8,1,1,0
9,1,9,0,7,5,8,1,1,1
17,1,7,0,7,5,7,1,0,0
18,1,10,0,7,3,4,0,0,1
21,1,8,0,3,2,7,1,1,1
22,1,9,0,9,8,8,1,0,1
24,1,9,0,8,5,9,1,1,0
27,1,9,0,8,6,8,1,0,1
28,1,9,0,8,5,8,1,1,0
31,1,9,0,8,4,8,1,0,1
50,1,9,0,8,8,8,1,1,1
56,0,9,0,8,2,8,1,0,1
57,0,9,0,9,8,8,1,0,1
58,1,10,0,8,7,9,1,1,1
59,1,9,0,7,3,2,1,0,1
71,1,9,0,6,2,3,0,0,0
72,1,9,0,8,6,8,1,0,1
77,1,10,0,7,7,7,0,0,1
89,1,9,0,7,1,10,1,0,0
92,1,8,0,2,1,1,0,0,1
95,1,10,0,9,9,9,1,1,1
101,1,9,0,8,1,7,1,0,1
110,1,10,0,6,3,7,1,0,1
112,0,9,0,7,3,7,0,0,0
117,1,9,0,8,8,8,1,0,1
121,1,10,0,8,8,8,1,0,1
123,1,9,0,5,3,7,1,0,1
124,1,10,0,7,4,4,0,0,1
125,1,9,0,10,8,9,1,1,1
126,1,9,0,7,6,8,1,0,1
130,1,8,0,9,3,8,1,1,1
133,1,9,0,8,5,9,1,1,0
134,1,9,0,8,2,9,1,0,1
138,1,9,0,8,5,9,1,1,0
140,1,9,0,10,5,7,1,0,0
142,1,8,0,7,1,6,1,1,1
147,1,10,0,6,5,8,1,1,1
148,1,9,0,8,2,7,1,1,0
150,1,9,0,8,2,8,1,1,1

In [ ]:
dataset3 = dataset1[dataset1['APPLIED PROFILE'] == "DATA SCIENTIST/ANALYST"]

In [ ]:
dataset3 = dataset3.drop('APPLIED PROFILE', axis = 1)

In [ ]:
dataset3

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
0,1,9,0,7,3,7,1,0,0
5,1,9,1,10,10,10,1,1,1
26,1,8,0,7,5,7,1,0,0
33,1,8,0,6,9,7,1,0,1
38,1,9,0,7,7,7,1,0,1
44,1,9,0,9,8,9,1,0,1
47,1,9,0,9,2,3,1,1,1
52,1,9,0,7,6,6,1,1,1
61,1,8,0,8,6,8,1,1,1
62,1,8,0,7,6,7,1,1,0
64,1,7,0,9,7,8,1,0,1
65,1,7,0,8,7,8,1,0,1
66,1,7,0,8,6,8,1,0,1
67,1,7,0,9,8,8,0,0,1
68,0,9,0,2,3,3,1,0,1
70,1,8,0,8,7,8,1,0,1
73,1,10,0,7,4,9,1,0,0
75,0,10,0,3,6,5,1,0,1
76,1,8,0,8,5,10,1,0,1
78,1,7,0,7,7,6,1,1,0
79,1,8,0,9,8,8,1,1,1
80,0,9,0,8,6,8,1,0,1
81,0,8,0,7,8,9,1,0,0
82,0,8,0,7,8,9,1,0,0
83,1,9,0,7,6,6,1,1,1
85,0,8,0,7,7,7,1,0,1
87,0,8,0,9,7,8,1,0,0
90,1,8,0,7,7,7,1,0,1
91,1,8,0,8,6,7,1,0,1
100,1,7,0,8,2,7,1,0,0
107,0,9,0,8,6,4,1,0,1
109,1,9,0,8,7,8,1,1,0
111,1,8,0,8,5,7,1,0,1
118,1,9,0,7,3,9,1,0,1
119,1,9,0,8,8,9,1,1,0
132,1,9,0,6,5,5,1,0,0
136,1,9,0,5,8,8,1,0,1
143,1,10,0,5,5,6,1,0,1
144,1,10,0,7,8,6,1,1,1

In [ ]:
dataset3.shape

(39, 9)

In [ ]:
dataset4 = dataset1[dataset1['APPLIED PROFILE'] == "MANAGEMENT"]

In [ ]:
dataset4 = dataset4.drop('APPLIED PROFILE', axis = 1)

In [ ]:
dataset4

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
127,1,8,0,9,4,8,1,1,1
149,1,8,0,10,7,8,0,0,1

In [ ]:
dataset5 = dataset1[dataset1['APPLIED PROFILE'] == "SDE"]

In [ ]:
dataset5 = dataset5.drop('APPLIED PROFILE', axis = 1)

In [ ]:
dataset5

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
8,1,9,0,9,8,8,1,0,1
16,1,9,0,7,3,6,1,0,1
19,1,9,0,8,7,5,0,0,1
25,1,9,0,1,4,4,0,0,0
40,1,9,0,7,6,8,0,0,1
42,1,9,0,9,7,6,1,0,1
51,1,10,0,8,8,6,0,0,1
53,1,9,0,8,8,7,1,0,1
54,1,9,0,7,5,6,0,0,1
69,1,9,0,8,6,6,1,0,1
74,1,7,0,8,10,8,1,1,1
84,1,7,0,7,9,9,1,0,0
86,0,9,0,7,7,7,1,0,1
88,0,8,0,8,7,7,1,0,1
94,1,7,0,8,7,8,0,1,0
96,1,9,0,7,7,6,1,0,1
99,1,7,0,6,5,4,0,0,0
103,1,9,0,7,8,8,0,0,0
105,1,7,0,6,5,7,0,0,0
106,1,8,0,8,8,8,1,1,1
114,1,9,0,7,8,9,1,1,0
152,1,9,0,6,6,8,0,0,1

In [ ]:
dataset5.shape

(22, 9)

In [ ]:
dataset6 =  dataset1[dataset1['APPLIED PROFILE'] != "CORE"]

In [ ]:
dataset6.shape

(111, 10)

In [ ]:
dataset6 = dataset6.drop('APPLIED PROFILE', axis = 1)

In [ ]:
dataset6

,GENDER,CGPA group,ACTIVE BACKLOG,RATE YOUR COMMUNICATION SKILL,RATE YOUR CODING SKILL,RATE YOUR APTITUDE SKILLS,Have you done project related to applied profile?,Have you done Internship related to applied profile?,Paced or Not Placed
0,1,9,0,7,3,7,1,0,0
2,1,9,0,7,5,7,1,1,0
4,1,8,0,9,9,10,1,0,1
5,1,9,1,10,10,10,1,1,1
7,1,10,0,10,10,10,1,1,0
...,...,...,...,...,...,...,...,...,...
145,1,9,0,6,7,6,1,0,1
146,1,10,0,7,7,8,1,1,1
149,1,8,0,10,7,8,0,0,1
151,1,9,0,8,6,9,1,0,0
152,1,9,0,6,6,8,0,0,1

Calculate P(X=x|Y=y) Categorically

In [ ]:
def calculate_categorical(data, feat_name, feat_value, Y, label):
  feat = list(data.columns)
  data = data[data[Y]==label]
  p_x_given_y = len(data[data[feat_name]==feat_value]) / len(data)
  return p_x_given_y

Calculate P(Y = y) for all possible Y

In [ ]:
def calculate_prior(data, Y):
  classes = sorted(list(data[Y].unique()))
  prior = []

  for i in classes:
    prior.append(len(data[data[Y]==i])/len(data))
  return prior

Calculate P(X=x1|Y=y)P(X=x2|Y=y)....P(X=xn|Y=y) * P(Y=y) for all Y and find the maximum-

In [ ]:
def naive_bayes_categorical(data, X, Y):
  # features name
  features = list(data.columns)[:-1]

  prior = calculate_prior(data, Y) #list containing probability of placed and non placed data

  Y_pred = []

  #loop for every data sample
  for x in X:
    labels = sorted(list(data[Y].unique()))
    likelyhood = [1]*len(labels)
    for j in range(len(labels)):
      for i in range(len(features)):
        likelyhood[j] *= calculate_categorical(data, features[i], x[i], Y, labels[j])

    #calculate posterior probability numerator only
    post_prob = [1]*len(labels)
    for j in range(len(labels)):
      post_prob[j] = likelyhood[j] * prior[j]

    Y_pred.append(np.argmax(post_prob))

  return np.array(Y_pred)

test categorical model

For the dataset dataset2

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset2, test_size = .2, random_state = 42)

X_test = test.iloc[:,:-1].values
Y_test = test.iloc[:,-1].values
Y_pred = naive_bayes_categorical(train, X=X_test, Y="Paced or Not Placed")

from sklearn.metrics import confusion_matrix, f1_score
print(confusion_matrix(Y_test, Y_pred))
f1_score(Y_test, Y_pred)

[[3 1]
 [0 5]]

0.9090909090909091

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset3, test_size = .2, random_state = None)

X_test = test.iloc[:,:-1].values
Y_test = test.iloc[:,-1].values
Y_pred = naive_bayes_categorical(train, X=X_test, Y="Paced or Not Placed")

from sklearn.metrics import confusion_matrix, f1_score
print(confusion_matrix(Y_test, Y_pred))
f1_score(Y_test, Y_pred)

[[1 1]
 [3 3]]

0.6

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset5, test_size = .2, random_state = None)

X_test = test.iloc[:,:-1].values
Y_test = test.iloc[:,-1].values
Y_pred = naive_bayes_categorical(train, X=X_test, Y="Paced or Not Placed")

from sklearn.metrics import confusion_matrix, f1_score
print(confusion_matrix(Y_test, Y_pred))
f1_score(Y_test, Y_pred)

[[1 1]
 [1 2]]

0.6666666666666666

Inbuild  Categorical Naive Bayes

In [ ]:
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import confusion_matrix, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
X5_data = dataset5.iloc[:,:-1].values
Y5_data = dataset5.iloc[:,-1].values

X5_train, X5_test, Y5_train, Y5_test = train_test_split(X5_data, Y5_data, test_size=0.2, random_state=42)

In [ ]:
model = CategoricalNB()
model.fit(X5_train, Y5_train)

CategoricalNB()

In [ ]:
Y5_pred = model.predict(X5_test)

In [ ]:
print("Confusion Matrix:")
print(confusion_matrix(Y5_test, Y5_pred))
print("\nf1_score:")
print(f1_score(Y5_test, Y5_pred))

Confusion Matrix:
[[0 0]
 [1 4]]

f1_score:
0.888888888888889

In [ ]:
X3_data = dataset3.iloc[:,:-1].values
Y3_data = dataset3.iloc[:,-1].values

X3_train, X3_test, Y3_train, Y3_test = train_test_split(X3_data, Y3_data, test_size=0.2, random_state=42)

In [ ]:
model = CategoricalNB()
model.fit(X3_train, Y3_train)

CategoricalNB()

In [ ]:
Y3_pred = model.predict(X3_test)

In [ ]:
print("Confusion Matrix:")
print(confusion_matrix(Y3_test, Y3_pred))
print("\nf1_score:")
print(f1_score(Y3_test, Y3_pred))

Confusion Matrix:
[[0 1]
 [3 4]]

f1_score:
0.6666666666666666

In [ ]:
X2_data = dataset2.iloc[:,:-1].values
Y2_data = dataset2.iloc[:,-1].values

X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2_data, Y2_data, test_size=0.2, random_state=None)

In [ ]:
model = CategoricalNB()
model.fit(X2_train, Y2_train)

CategoricalNB()

In [ ]:
Y2_pred = model.predict(X2_test)

In [ ]:
print("Confusion Matrix:")
print(confusion_matrix(Y2_test, Y2_pred))
print("\nf1_score:")
print(f1_score(Y2_test, Y2_pred))

Confusion Matrix:
[[0 3]
 [1 5]]

f1_score:
0.7142857142857143

For dataset6

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset6, test_size = .2, random_state = 42)

X_test = test.iloc[:,:-1].values
Y_test = test.iloc[:,-1].values
Y_pred = naive_bayes_categorical(train, X=X_test, Y="Paced or Not Placed")

from sklearn.metrics import confusion_matrix, f1_score
print(confusion_matrix(Y_test, Y_pred))
f1_score(Y_test, Y_pred)

[[ 3  5]
 [ 2 13]]

0.7878787878787877

In [ ]:
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import confusion_matrix, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
X6_data = dataset6.iloc[:,:-1].values
Y6_data = dataset6.iloc[:,-1].values

X6_train, X6_test, Y6_train, Y6_test = train_test_split(X6_data, Y6_data, test_size=0.2, random_state=42)

In [ ]:
model = CategoricalNB()
model.fit(X6_train, Y6_train)

CategoricalNB()

In [ ]:
Y6_pred = model.predict(X6_test)

In [ ]:
print("Confusion Matrix:")
print(confusion_matrix(Y6_test, Y6_pred))
print("\nf1_score:")
print(f1_score(Y6_test, Y6_pred))

Confusion Matrix:
[[ 3  5]
 [ 2 13]]

f1_score:
0.7878787878787877